# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.clover

# Ignore Eclipse setting files
.settings
.classpath
.project

# Ignore macOS default files
.DS_Store