# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
build-cache
target
out
classes
.gradletasknamecache
*.log

# Ignore macOS default files
.DS_Store

# Ignore Vscode files
.vscode/

# Ignore Eclipse setting files
.classpath
.project
.settings/
bin/

# Ignore Intellij files
*.iml
*.ipr
*.iws
.idea
*.eml
.shelf